body {
    margin: 0;
    padding-top: 100px;
    display: flex;
    background-color: #C5C7C7;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
}

.content {
    min-width: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
